##### After Preprocessing

In [1]:
import pandas as pd
import numpy as np
import random

from sklearn.neighbors import DistanceMetric
from math import radians

In [2]:
Data = pd.read_csv('Final_results.csv')

In [3]:
Data.head()

,Geometri,Latitude,Longitude,City,Biaya,21-Dec-19,22-Dec-19,23-Dec-19,24-Dec-19,25-Dec-19,26-Dec-19,27-Dec-19,28-Dec-19
0,northeast,0.048731,1.719746,Tao Silalahi hotel,IDR -,24,26,27,27,27,26,27,26
1,northeast,0.046310,1.717087,"""Sicike-cike"" Nature Park",IDR -,24,26,27,27,27,26,27,26
2,northeast,0.047703,1.717085,"Taman Wisata Iman Sitinjo, Dairi","IDR 300,000.00",23,25,26,26,26,25,26,26
3,northeast,0.047753,1.717110,Air Terjun Jembatan Lae Pendaroh,"IDR 20,000.00",23,25,26,26,26,25,26,26
4,northeast,0.047099,1.715783,Peak Tree House Sidikalang,"IDR 762,300.00",23,25,26,26,26,25,26,26

In [4]:
#Data.loc[153]

In [5]:
Data = Data.assign(ID_City=np.arange(len(Data))).reset_index(drop=True)

In [6]:
Data.head()

,Geometri,Latitude,Longitude,City,Biaya,21-Dec-19,22-Dec-19,23-Dec-19,24-Dec-19,25-Dec-19,26-Dec-19,27-Dec-19,28-Dec-19,ID_City
0,northeast,0.048731,1.719746,Tao Silalahi hotel,IDR -,24,26,27,27,27,26,27,26,0
1,northeast,0.046310,1.717087,"""Sicike-cike"" Nature Park",IDR -,24,26,27,27,27,26,27,26,1
2,northeast,0.047703,1.717085,"Taman Wisata Iman Sitinjo, Dairi","IDR 300,000.00",23,25,26,26,26,25,26,26,2
3,northeast,0.047753,1.717110,Air Terjun Jembatan Lae Pendaroh,"IDR 20,000.00",23,25,26,26,26,25,26,26,3
4,northeast,0.047099,1.715783,Peak Tree House Sidikalang,"IDR 762,300.00",23,25,26,26,26,25,26,26,4

In [7]:
a= Data['ID_City'].to_numpy()

In [8]:
import random
initial_state = []
def Initial_State_Awal(a):
    for i in range (10):
        x = random.choice(a)
        if x not in initial_state:
            initial_state.append(x)            
    return initial_state

In [9]:
results = Initial_State_Awal(a)
print(results)

[132, 24, 90, 111, 125, 33, 107, 148, 75]

In [10]:
#bagian percobaan

arr = []

for i in range(10):
    results.clear()
    results = Initial_State_Awal(a)
    arr.append(results)
    
print(arr)

[[20, 69, 15, 18, 144, 17, 29, 7, 105, 5], [20, 69, 15, 18, 144, 17, 29, 7, 105, 5], [20, 69, 15, 18, 144, 17, 29, 7, 105, 5], [20, 69, 15, 18, 144, 17, 29, 7, 105, 5], [20, 69, 15, 18, 144, 17, 29, 7, 105, 5], [20, 69, 15, 18, 144, 17, 29, 7, 105, 5], [20, 69, 15, 18, 144, 17, 29, 7, 105, 5], [20, 69, 15, 18, 144, 17, 29, 7, 105, 5], [20, 69, 15, 18, 144, 17, 29, 7, 105, 5], [20, 69, 15, 18, 144, 17, 29, 7, 105, 5]]

In [11]:
arr1= []

def Encoding(awal):
    result = 0
    p = 1
    arr1.clear()
    for i in range(len(a)):       
        for x in range(len(results)):
            if  awal[x] == a[i]:
                result =p
                p+=1
                break
            else:
                result *= 0
        arr1.append(result)

    return arr1

In [12]:
print(Encoding(results))

[0, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 3, 0, 4, 5, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [13]:
# Getting distance
param = []
temp = []
def getting_distance(param):
    for i in range(len(a)):       
        for x in range(len(results)):
            if results[x] == a[i]:
                temp = Data.iloc[i]['City'] 
                param.append((temp, (Data.iloc[i][1], Data.iloc[i][2])))
                break
    return param

In [14]:
getting_distance(param)

[('Tugu Marga Silalahi', (0.049115081, 1.7196645380000002)),
 ('Taman Rekreasi', (0.04790114, 1.715924279)),
 ('Perkemahan Paropo', (0.049678652999999996, 1.7196611240000002)),
 ('Air Terjun Janji', (0.041217633, 1.7246947240000001)),
 ('Tombak Sulusulu', (0.04030653, 1.724514136)),
 ('Air Terjun Pollung', (0.037291995, 1.719963827)),
 ('objek wisata baronjong aek sirahar', (0.038620995, 1.719916979)),
 ('Bukit Beta Tuk-tuk', (0.046470724000000005, 1.725224597)),
 ('Aek Manik', (0.050030147999999997, 1.7265188230000001)),
 ('Pemandian Air Soda', (0.034937502999999995, 1.727304688))]

In [15]:
# Getting Total biaya

In [16]:
# Getting distance
param = []
temp = []
def getting_Cost(param):
    for i in range(len(a)):       
        for x in range(len(results)):
            if results[x] == a[i]:
                temp = Data.iloc[i]['Biaya'] 
                param.append((temp, Data.iloc[i][3]))
                break
    return param

In [17]:
getting_Cost(param)

[(' IDR 10,000.00 ', 'Tugu Marga Silalahi'),
 (' IDR 5,000.00 ', 'Taman Rekreasi'),
 (' IDR 5,000.00 ', 'Perkemahan Paropo'),
 (' IDR 5,000.00 ', 'Air Terjun Janji'),
 (' IDR -   ', 'Tombak Sulusulu'),
 (' IDR 15,000.00 ', 'Air Terjun Pollung'),
 (' IDR 20,000.00 ', 'objek wisata baronjong aek sirahar'),
 (' IDR 10,000.00 ', 'Bukit Beta Tuk-tuk'),
 (' IDR -   ', 'Aek Manik'),
 (' IDR 7,000.00 ', 'Pemandian Air Soda')]