##### After Preprocessing

In [1]:
import pandas as pd
import numpy as np
import random

from sklearn.neighbors import DistanceMetric
from math import radians

In [2]:
Data = pd.read_csv('Final_results.csv')

In [3]:
Data.head()

,Geometri,Latitude,Longitude,City,Biaya,21-Dec-19,22-Dec-19,23-Dec-19,24-Dec-19,25-Dec-19,26-Dec-19,27-Dec-19,28-Dec-19
0,northeast,0.048731,1.719746,Tao Silalahi hotel,IDR -,24,26,27,27,27,26,27,26
1,northeast,0.046310,1.717087,"""Sicike-cike"" Nature Park",IDR -,24,26,27,27,27,26,27,26
2,northeast,0.047703,1.717085,"Taman Wisata Iman Sitinjo, Dairi","IDR 300,000.00",23,25,26,26,26,25,26,26
3,northeast,0.047753,1.717110,Air Terjun Jembatan Lae Pendaroh,"IDR 20,000.00",23,25,26,26,26,25,26,26
4,northeast,0.047099,1.715783,Peak Tree House Sidikalang,"IDR 762,300.00",23,25,26,26,26,25,26,26

In [4]:
#Data.loc[153]

In [21]:
Data = Data.assign(ID_City=np.arange(len(Data))).reset_index(drop=True)

In [22]:
Data.head(6)

,Geometri,Latitude,Longitude,City,Biaya,21-Dec-19,22-Dec-19,23-Dec-19,24-Dec-19,25-Dec-19,26-Dec-19,27-Dec-19,28-Dec-19,ID_City
0,northeast,0.048731,1.719746,Tao Silalahi hotel,IDR -,24,26,27,27,27,26,27,26,0
1,northeast,0.046310,1.717087,"""Sicike-cike"" Nature Park",IDR -,24,26,27,27,27,26,27,26,1
2,northeast,0.047703,1.717085,"Taman Wisata Iman Sitinjo, Dairi","IDR 300,000.00",23,25,26,26,26,25,26,26,2
3,northeast,0.047753,1.717110,Air Terjun Jembatan Lae Pendaroh,"IDR 20,000.00",23,25,26,26,26,25,26,26,3
4,northeast,0.047099,1.715783,Peak Tree House Sidikalang,"IDR 762,300.00",23,25,26,26,26,25,26,26,4
5,northeast,0.049115,1.719665,Tugu Marga Silalahi,"IDR 10,000.00",23,25,26,26,26,25,26,26,5

In [23]:
a= Data['ID_City'].to_numpy()

In [25]:
import random
initial_state = []
def Initial_State_Awal(a):
    for i in range (10):
        x = random.choice(a)
        if x not in initial_state:
            initial_state.append(x)            
    return initial_state

In [26]:
awal= Initial_State_Awal(a)
print(awal)

[1, 8, 20, 9, 78, 29, 130, 14, 97, 12]

In [28]:
arr1= []

def Encoding(awal):
    result = 0
    p = 1
    arr1.clear()
    for i in range(len(a)):       
        for x in range(len(awal)):
            if  awal[x] == a[i]:
                result =p
                p+=1
                break
            else:
                result *= 0
        arr1.append(result)

    return arr1

print(Encoding(awal))

[0, 1, 0, 0, 0, 0, 0, 0, 2, 3, 0, 0, 4, 0, 5, 0, 0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [34]:
import math

In [35]:

class fitness_calculation:
     
    def getting_distance(data,route):
        total = 0  
        id_city = data['ID_City'].to_numpy()
        r = 6373.0
        dist_route = []
        for i in range(len(id_city)):       
            for x in range(len(route)):
                if route[x] == id_city[i]:
                    dist_route.append((data.iloc[i]['City'] , (data.iloc[i][1], data.iloc[i][2])))
                    
        for x in range(len(dist_route)-1):
            # calculating distance by haversine function
            dlat = abs(float(dist_route[x+1][1][0]) - float(dist_route[x][1][0]))
            dlon = abs(float(dist_route[x+1][1][1]) - float(dist_route[x][1][1]))
            a = math.sin(dlat / 2)**2 + math.cos(dist_route[x+1][1][0]) * math.cos(dist_route[x][1][0]) * math.sin(dlon / 2)**2
            c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
            dis = r * c
            total += dis
        
        return round(total)

In [36]:
# Call fungsi
fitness_calculation.getting_distance(Data,awal)

404